.container {
  margin: 40px 0;
  --timing: 0.3s;
  --width-of-input: 60%;
  --height-of-input: 45px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #000;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

.container svg {
  width: 17px;
  margin-top: 3px;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

.input_search {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
}

.container:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.container:focus-within {
  border-radius: 7px 7px 0 0;
}

.container:focus-within:before {
  transform: scale(1);
}

.show-box {
  display: block;
}