* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
  background: hsla(177, 87%, 79%, 1);

  background: linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(177, 87%, 79%, 1) 0%,
    hsla(235, 89%, 70%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1 );
  background-repeat: no-repeat;
}

.show-box {
  display: block;
} 